<div class="list-groups">
  {% for content in data[1] %}
    <div class="list-group col-md-6" title="{{ content.level }}">
      <table class="table-cv list-group-table">
        <tbody>
          <tr>
            <!-- Display content name and keywords in a single row -->
            <td>
              <span class="list-group-category">
                <a href="javascript:void(0);">
                  {% if content.icon %}
                    <i class="{{ content.icon }}"></i>
                  {% endif %}
                  {{ content.name }} -
                </a>
              </span>
              <span class="list-group-name">
                {% for item in content.keywords %}
                  {% if forloop.last %}
                    {{ item }}
                  {% else %}
                    {{ item }},
                  {% endif %}
                {% endfor %}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
